<div #experienceDiv class="experience" [@loadingAnim]="currentState">
  <span class="innerlabel">Research and Practical Experience</span>
  <div class="section">
    <h1 style="display:inline;">
      Database Group – Drexel University
    </h1>
    <h1 id="date" style="display:inline;"> 2016- Present</h1>
    <ul>

      <li>
        Research Assistance under Supervision of Dr. Julia Stoyanovich
        <ul>
          <li>
            PortalDB ( https://portaldb.github.io)
          </li>
          <li>
            Evolving  and temporal graph generation and processing
          </li>
          <li>
            Distributed systems
          </li>
        </ul>
      </li>
    </ul>
    <hr />
  </div>
  <div class="section">
    <h1 style="display:inline;">
      HLT Laboratory   - Amirkabir University
    </h1>
    <h1 id="date" style="display:inline;"> 2013-2016</h1>
    <ul>

      <li>
        Research Assistance under Supervision of Dr. Shahram Khadivi
        <ul>
          <li>
            Arabic- Persian Statistical Machine Translation
          </li>
          <li>
            Improving Machine Translation using Monolingual Corpora
          </li>
          <li>
            Deep Learning in NLP
          </li>
        </ul>
      </li>
    </ul>
    <hr/>
  </div>

  <span class="label">Experience</span>
  <span class="innerlabel">Teaching Experience</span>
  <div class="section">
    <h1 style="display:inline;">
      Drexel University (Teaching Assistant)
    </h1>
    <ul>
      <li>Fundamentals of Databases (Winter 2017)</li>
      <li>Computer Networks (Fall 2017)</li>
      <li> Computer Programming II (Spring 2017)</li>
      <li>Computer Programming Fundamentals (Winter 2016)</li>
      <li>System Architecture (Fall 2016)	</li>

    </ul>
    <h1 style="display:inline;">
      Amirkabir University of Science and Technology (Teaching Assistant)
    </h1>
    <ul>
      <li>Artificial Intelligenc (Spring and Fall 2014)</li>
    </ul>
    <h1>
      Iran University of Science and Technology (Teaching Assistant)
    </h1>
    <ul>
      <li>Computer Fundamentals and Programming (Spring 2010)</li>
    </ul>
    <hr/>
  </div>

  <span class="innerlabel">Work Experience</span>
  <div class="section">
    <h1 style="display:inline;">
      Targoman.com
    </h1>

    <h1 id="date" style="display:inline;"> 2013-2016</h1>
    <ul>
      <li>Research and Development</li>
      <li>Improving translation quality and fluency</li>
      <li>Gathering and processing new corpora and data for machine translation and language model</li>
      <li>Improving Targoman.com user interface</li>

    </ul>
    <hr />
    <h1 style="display:inline;">
      Fad.ir
    </h1>

    <h1 id="date" style="display:inline;">	2012-2016</h1>
    <ul>
      <li>Website Designer and Administrator</li>
      <li>Software Developery</li>
    </ul>

    <hr />
    <h1 style="display:inline;">
      Golrang Industrial Group
    </h1>

    <h1 id="date" style="display:inline;">	 Summer 	2012</h1>
    <ul>
      <li>Apprentice</li>
      <li>Working on GPS and GIS systems </li>
    </ul>
  

  </div>
</div>
