<div #honorsDiv class="honors" [@loadingAnim]="currentState">
  <!--<button (click)="changeState()">Change Size</button>-->
  <div class="section">
    <ul>
      <li >
        <b>
          Nationwide Universities Entrance Exam for Graduate Programs in Computer Engineering –Artificial Intelligence (M.Sc. Konkoor)
        </b>
         <ul>
          <li>
            	Ranked 90th out of approximately 30,000 contestants
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <hr />
  <span class="label  ">Honors</span>
  <div class="section">
    <ul>
      <li >
        <b>
          Nationwide Universities Entrance Exam for Undergraduate Programs in Mathematics and Physics (B.Sc. Konkoor)
        </b>
        <ul>
          <li>
            Ranked (Top 0.2%) out of approximately 500,000 contestants
          </li>
        </ul>
      </li>
    </ul>

  </div>

</div>
