<div class="about-me">
  <img id="profile-img" src="../../assets/ProfilePic/profile.jpg" align="left" />
  <h1 id="name"> {{name}}</h1>
  <h2 id="job"> {{job}}</h2>
  <h3>
    <img id="icon" src=" ../../assets/addressIcon.png" /><b>
      Address:
    </b>Drexel University, 3141 Chestnut Street,Philadelphia,PA ,19104
  </h3>

  <h3>
    <img id="icon" src=" ../../assets/emailIcon.png" /><b>
      Email:
    </b>aa3657@drexel.edu   amirpouya.a@gmail.com
  </h3>

  <h3>
    <img id="icon" src="../../assets/Mobile-icon.png" /><b>
      Phone:
    </b>+1 (215) - 285 - 0169
  </h3>

  <h3>
    <img id="icon" src="../../assets/twitterIcon.png" /><b>
      Twitter:
    </b>
    <a href="https://twitter.com/amirpouya_a">amirpouya_a</a>
  </h3>


</div>

