<div #educationDiv class="education" [@loadingAnim]="currentState">
  <!--<button (click)="changeState()">Change Size</button>-->
  <div class="section">
    <h1 style="display:inline;">
      Ph.D. Student, Computer Science
    </h1>
    <h1 id="date" style="display:inline;"> "2016- Present"</h1>
    <h2>The College of Computing & Informatics, Drexel University, Philadelphia, PA </h2>
    <h2><b>Current GPA:</b> 3.88/4 </h2>
    <h2> <b>Advisor:</b> Dr. Julia Stoyanovich</h2>
    <hr />
  </div>
  <span class="label  ">Education</span>
  <div class="section">
    <h1 style="display:inline;">
      M.S. Degree, Artificial Intelligence
    </h1>
    <h1 id="date" style="display:inline;"> 2013-2016</h1>
    <h2>Department of Computer Engineering, Amirkabir University of Technology </h2>
    <h2><b>Current GPA:</b> 3.81/4 </h2>
    <h2>
      <b>Thesis:</b> Persian-Arabic Statistical Machine Translation in low-resource settings
    </h2>
    <h2>Supervisor: Dr. Shahram Khadivi</h2>
    <hr />
  </div>
  <div class="section">
    <h1 style="display:inline;">
      B.S. Degree, Software Engineering
    </h1>
    <h1 id="date" style="display:inline;"> 2013-2016</h1>
    <h2>Department of Computer Engineering, Iran University of Science and Technology </h2>
    <h2><b>Current GPA:</b> 3.78/4 </h2>
    <h2>
      <b>Thesis:</b>User Experience Design for Android Mobile Applications
    </h2>
    <h2>Supervisor:  Dr. Mohammad Reza Kangavari</h2>
  </div>
</div>
