<div #publicDiv class="publication" [@loadingAnim]="currentState">
  <!--<button (click)="changeState()">Change Size</button>-->
  <div class="section">
    <ul>
      <li>
        Vera Z. Moffitt, Julia Stoyanovich, <b>Amir Aghasadeghi </b>, Matthew Gilbride, Shishir Kharel, and Halima Olapade. <b>“Querying Evolving Graphs with Portal.”</b> CIDR 2019 (Under submission)
      </li>
    </ul>
  </div>
  <hr/>
  <span class="label  ">Publications</span>
  <div class="section">
    <ul>
      <li>
        <b>Aghasadeghi, Amir </b>, and Julia Stoyanovich. <b>“Generating Evolving Property Graphs with Attribute-Aware Preferential Attachment.”</b> In Proceedings of the Workshop on Testing Database Systems, ACM, 2018
      </li>
    </ul>

  </div>
  <hr />
  <div class="section">
    <ul>
      <li>
        Zafarian, A., <b>Aghasadeghi, A. </b>, Azadi, F., Ghiasifard, S., Alipanahloo, Z., Bakhshaei, S., & Ziabary, S. M. M. (2015). <b>“AUT Document Alignment Framework for BUCC Workshop Shared Task”.</b> ACL-IJCNLP 2015
      </li>
    </ul>
  </div>
</div>
