<div class='top-nav' [@navAnim]=currentState>
  <a id="education" class="active" routerLink="/education" routerLinkActive="active" (click)="scrollToPublications($event)">  Education </a>
  <a id="publication" routerLink="/publications" routerLinkActive="active" (click)="scrollToPublications($event)"> Publications </a>
  <a id="experience" routerLink="/experience" routerLinkActive="active" (click)="scrollToPublications($event)"> Experience </a>
  <a id="technical" routerLink="/publications" routerLinkActive="active" (click)="scrollToPublications($event)"> Technical Skills </a>
  <a id="honors" routerLink="/honors" routerLinkActive="active" (click)="scrollToPublications($event)"> Honors and Rewards </a>
  <a id="language" routerLink="/publications" routerLinkActive="active" (click)="scrollToPublications($event)"> Language Skills </a>
  <a id="activities" routerLink="/publications" routerLinkActive="active" (click)="scrollToPublications($event)"> Activities </a>
</div>

