<div #activitiesDiv class="activities" [@loadingAnim]="currentState">
  <!--<button (click)="changeState()">Change Size</button>-->
  <span class="label  ">Activities</span>
  <div class="section">
    <ul>
      <li>
        <b>
          Member of Students Guild Council, Iran University of Science and Technology, Tehran, Iran (2010-2013)
        </b>
      </li>
      <li>
        <b>
          Editor in chief of Baztab Magazine under the supervision of Students Guild Council editorial, Iran University of Science and Technology,Tehran, Iran (2010-2011)
        </b>
      </li>
      <li>
        <b>
          Member of Bahar Charity Group, Tehran, Iran (2008-2013)
        </b>
      </li>
      <li>
        <b>
          Member of Held Congress of Linux, Iran University of Science and Technology, Tehran, Iran (2010)
        </b>
      </li>
      <li>
        <b>
          Fair Swimmer and Mountain Climber
        </b>
      </li>
      <li>
        <b>
          Amateur Painter
        </b>
      </li>
    </ul>
  </div>


</div>
